<div class="links">
        <div class="d-flex flex-row justify-content-center">
            <div class="p-2">
                <button class='btn btn-primary'>
                    <a href="/all-data/" style="color:black;">Database data</a>
                </button>
            </div>
            <div class="p-2">
                <button class='btn btn-primary'>
            <a href="/all-sale/" style="color:black;">Overall Sale </a>
                </button>
            </div>
            <br>
            <div class="p-2">
                <button class='btn btn-primary'>
            <a href="/avg-sale/" style="color:black;">Avg. Sale of 2 years </a>
                </button>
            </div>

            <br>
            <div class="p-2">
                <button class='btn btn-primary'>
            <a href="/min-sale/" style="color:black;">Least sale year</a>
                </button>
            </div>
            
    </div>
</div>


